/*主文本颜色值*/
$base-text-color:#333;
/*主颜色值*/
$primary-bg-color:#00a6a6;
//header背景
$header-bg-color:#00a6a6;
//header文本颜色
$header-text-color:#fff;
//侧边栏文本颜色
$aside-text-color:#fff;
//侧边栏背景
$aside-bg-color:#373a49;
//内容区域背景色
$main-bg-color:#f1f1f1;
//内容区域文本颜色
$main-text-color:#333;
//菜单文本颜色
$menu-text-color:#f2f2f2;
$border-color:#e6e6e6;
$box-shadow:0px 2px 3px -2px #999;
.m-layout-container{
  position: relative;
  width: 100%;
  height: 100%;
  color: $base-text-color;
}
.m-layout-header{
  position: relative;
  //padding: 0 !important;
  background: $header-bg-color;
  color: $header-text-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.m-layout-aside{
  position: relative;
  background: $aside-bg-color;
  color: $aside-text-color;
}
.m-layout-main{
  position: relative;
  padding: 0 !important;
  color: $main-text-color;
  background: $main-bg-color;

}
.m-layout-header .header-title{
  font-size: 1.8rem;
  line-height: 3rem;
}
.m-layout-header .el-dropdown{
  color: $header-text-color;
  cursor: pointer;
}
.el-menu{
  background-color: transparent !important;
  border:none !important;
}
.el-submenu__title,.el-menu-item{
  text-align: left;
}
.el-submenu__title,.el-submenu__title i{
  color: $menu-text-color !important;
}
.el-menu-item,.el-menu-item i{
  color: $menu-text-color !important;
}
.el-submenu__title:hover,.el-menu-item:hover{
  background-color: rgba(0,0,0,0.2) !important;
}
.el-menu-item.is-active,.el-menu-item.is-active:hover{
  background-color: $primary-bg-color !important;
}
.el-menu--horizontal > .el-submenu.is-active .el-submenu__title,.el-menu--horizontal > .el-menu-item.is-active{
  border-bottom: 2px solid $header-text-color !important;
  font-weight: bold;
}
.el-menu--horizontal  .el-submenu__title,.el-menu--horizontal  .el-menu-item{
  //color:$base-text-color !important;
}
.tags-li-title{
  max-width: none !important;
}

.condition-wrapper .el-input,.condition-wrapper .el-select{
  width: 240px !important;
}
.el-collapse,.el-collapse-item__header,.el-collapse-item__wrap{
  background-color: transparent !important;
  border:none !important;
  color: $header-text-color !important;
}
.el-pagination{
  background-color: #fff;
}
.el-table{
  box-shadow: $box-shadow;
}
.nav-tags{
  padding: 10px 15px;
  background: #fff;
  box-shadow: $box-shadow;
}
.nav-tags .el-tag.active{
  color: $header-text-color;
  background-color: $header-bg-color;
}
.nav-tags .el-tag.active .tags-li-title,.nav-tags .el-tag.active i{
  color: $header-text-color !important;
}
.link-text{
  cursor: pointer;
  line-height: 2rem;
  color: $header-text-color !important;
}
.link-text i{
  margin-right: 0.5rem;
  color: $header-text-color !important;
}
.condition-wrapper{
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid $border-color;
  box-shadow: $box-shadow;
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.condition-item{
  display: flex;
  align-items: center;
}
.condition-item+.condition-item{
  margin-left: 30px;
}
